{% extends "base.html" %}
{% block tittle %}NBASTAR - Inicio{%endblock%}
{% block subtitulo %}Página Principal{% endblock %}
{% block encabezado %}Haz click en la imagen para ir al buscador{% endblock %}
{% block contenido %}
<div class="col-lg-4 py-5 py-lg-0" style="min-height: 400px;">
    <div class="position-relative h-100">
        <a href="/buscador">
            <img class="centrar-imagen" width="950" height="600" src="/static/img/nba.jpg" alt="Imagen de la NBA">
        </a>
    </div>
</div>
{% endblock %}
