{% extends "base.html" %}

{% block title %}Listado de Jugadores{% endblock %}
{% block subtitulo %}Listado de Jugadores{% endblock %}
{% block encabezado %}Introduce algo en el buscador{% endblock %}
{% block contenido %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Posición</th>
                            <th scope="col">Palmares</th>
                            <th scope="col">Enlace</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jugador in resultados %}
                        <tr>
                            <td>{{ jugador['name'] }}</td>
                            <td>{{ jugador['pos'] }}</td>
                            <td>
                                <ul>
                                    {% for award in jugador['awards'] %}
                                    <li>{{ award['type'] }} ({{ award['season'] }})</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><a href="{{ url_for('jugador', id=jugador['tid']) }}" class="btn btn-primary btn-sm">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

{% endblock %}
